@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


@model List<StudentPortalWeb.Models.Entities.Student>

<h1>Students</h1>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Phone Number</th>
            <th>Department</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var student in Model)
        {
            <tr>
                <td>@student.Id</td>
                <td>@student.Name</td>
                <td>@student.Email</td>
                <td>@student.PhoneNumber</td>
                <td>@student.Department</td>
               @* <td>
                    <a asp-controller="ManageStudentController" class="btn btn-primary" asp-action="Edit" asp-route-id="@student.Id">Edit</a>
                    <form asp-controller="ManageStudentController" asp-action="Delete" asp-route-id="@student.Id" method="post" style="display:inline;">
                        <button type="submit" class="btn btn-danger">Delete</button>
                    </form>
            </td>*@
            </tr>
        }

    </tbody>
</table>

